header {
  background-color: #fff;
  padding: 20px;
}

.header__textBox {
  display: flex;
}

.header__text {
  font-size: 14px;
  margin-left: 10px;
}

.keyVisual {
  width: 100%;
  height: 230px;
  background-color: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyVisual__textBox {
  text-align: center;
}

.keyVisual__text {
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 40px;
  margin-bottom: 0;
}

.keyVisual__subText {
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 17px;
  margin-top: 0;
}

.wrapper {
  height: 100%;
  background-color: #efefef;
  padding-top: 60px;
  padding-bottom: 100px;
}

.boxWapper {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.leftBox {
  background-color: #fff;
  width: 220px;
  padding: 30px;
  height: fit-content;
  padding: 20px 20px 20px 0;
}

.leftBox__list {
  font-size: 13px;
  list-style: none;
  margin-left: -20px;
  line-height: 2.4;
}

.leftBox__listTitle {
  font-size: 20px;
  list-style: none;
  margin-left: -20px;
  line-height: 2.4;
  font-weight: bold;
  margin-top: -20px;
}

.rightBox {
  background-color: #fff;
  width: 700px;
  margin-left: 20px;
  padding: 30px;
}

.rightBox__tag {
  background-color: #efefef;
  padding: 5px 20px;
  width: fit-content;
}

.rightBox__tagText {
  font-size: 13px;
  line-height: 1.7;
  margin: 0;
}

.rightBox__text {
  font-size: 13px;
  color: #333;
  line-height: 1.8;
}

.rightBox__textTitle {
  font-size: 16px;
  font-weight: bold;
}

.bottomBoxWrapper {
  display: flex;
  width: 1020px;
  margin: 0 auto;
  padding-top: 20px;
}

.bottomBoxLeft {
  background-color: #fff;
  width: 49%;
  margin-right: 20px;
  padding: 10px 30px;
}

.bottomBoxRight {
  background-color: #fff;
  width: 49%;
  padding: 10px 30px;
}

.bottomBoxLeft__text {
  font-size: 13px;
}

.bottomBoxRight__text {
  font-size: 13px;
}

.rightBox__img {
  width: 100%;
  margin-top: 40px;
}

.rightBox__img2 {
  width: 80%;
}

.rightBox__text--line {
  font-size: 14px;
  text-decoration: underline;
  font-weight: normal;
}

.footer {
  background-color: #333333;
  display: flex;
  padding: 30px;
}

.footerText {
  color: #fff;
}

.eventDetailTable__title {
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  padding: 30px;
}

.eventDetailTable__text {
  border-top: 1px solid #ccc;
  padding: 30px;
}

.eventDetail {
  border-top: 1px solid #ccc;
}
